<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Information About Shashank Pandey">
    <meta name="keywords" content="shashank pandey,Shashank Pandey,Who is shashank pandey?">
    <meta name="author" content="Shashank Pandey">
    <link rel="shortcut icon" href="/images/shashank.png">
    <link rel="stylesheet" href="/css/update.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Update Post</title>
  </head>
  <body>
    <a href="/crud">Back To View Data Page</a>
    <div class="box">
      <h1>Hey Shashank wanna Update these data ? GO ON.</h1>
    <form class="" action="/uplist/{{lists.[0].id}}" method="post">
    <input type="text" name="list" value="{{lists.[0].list}}"><br><br>
    <input type="submit" name="" value="update list point !">
    </form>
    </div>
  </body>
</html>
