*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  color: #1c252e;
}
::selection{
  user-select: none;
}
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f8a89;
  border-radius: 10px;
}
#header{
  width: 100%;
  height: 40px;
  padding: 20px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#header a{
  text-decoration: none;
  color: #282828;
  font-size: 22px;
  font-family: monospace;
}
#header span{
  color: #282828;
  font-size: 22px;
  font-family: monospace;
  cursor: pointer;
}
#header h1{
  font-size: 24px;
  color: #3f8a89;
  text-align: center;
}
.proc{
  width: 100%;
  height:auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects{
  width: 700px;
  height: auto;
  border-right: 2px solid #3f8a89;
  border-bottom: 2px solid #3f8a89;
  border-top: 2px solid darkgrey;
  border-left: 2px solid darkgrey;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
}
.pro{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}
.pro p{
  font-size: 16px;
}
.projects span{
  color: #3f8a89;
  font-weight: bold;
}
.intro{
  height: auto !important;
}
.head{
  width: 100%;
  height: auto;
  padding: 10px;
}
.head h1{
  font-size: 24px;
  color: darkgrey;
}
.head p{
  font-size: 18px;
  color: #282828;
  text-transform: inherit;
}
.head a{
  color: darkgrey;
  text-decoration: none;
  font-size: 22px;
  position: relative;
  left: 3px;
}
.slider{
  width: 100%;
  height: 390px;
  display: flex;
  overflow: auto;
  padding: 5px;
}
.pics{
  min-width: 700px;
  height: 370px;
  display: flex;justify-content: center;
  align-items: center;
  border-right: 1px solid #3f8a89;
  margin: 0 0 0 30px;
}
.pics:nth-child(1){
  margin: 0 !important;
}
.pics img{
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.slider::-webkit-scrollbar,.comments::-webkit-scrollbar{
  display: none;
}
.inp{
  width: 200px;
  height: 36px;
  border-radius: 2px;
  padding: 4px;
  font-family: monospace;
  font-size: 20px;
  color: #282828;
  border: 2px solid darkgrey;
}
.inp::placeholder{
  font-size: 17px !important;
}
.sbtn{
  width: 200px;
  height: 36px;
  border-radius: 2px;
  padding: 4px;
  background: #3f8a89;
  color: #fff;
  font-size: 18px;
  border: 2px solid #3f8a89;
  cursor: pointer;
}
.sbtn:hover{
  background: #fff;
  color: #3f8a89;
}
.ta{
  width: 340px;
  height: 130px;
  border-radius: 2px;
  padding: 4px;
  font-family: monospace;
  font-size: 20px;
  color: #282828;
  border: 2px solid darkgrey;
}
.cmt{
  width: 200px;
  height: 36px;
  border-radius: 2px;
  padding: 4px;
  color: #3f8a89;
  font-size: 18px;
  border: 2px solid #3f8a89;
  cursor: pointer;
  background: #fff;
  text-transform: capitalize;
  transition: .5s ease;
}
.cmt:hover{
  background: #3f8a89;
  color: #fff;
}
.comments{
  width: 100%;
  height: 200px;
  padding: 20px;
  overflow: auto;
}
.comments button{
  width: auto;
  height: auto;
  padding: 10px;
  background: #3f8a89;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0 0 0;
  border: 2px solid #3f8a89;
  color: #fff;
  font-size: 17px;
}
.comments i{
  position: relative;
  left: -4px;
}
#footer{
  width: 100%;
  height: 170px;
  background: #282828;
  padding: 20px;
}
#footer .naam{
  width: 270px;
  color: #fff;
  font-size: 32px;
  border-bottom:2px solid #3f8a89;
  border-radius:200px 200px 500px 500px/700px 700px 700px 700px;
}
.links{
  width: 200px;
  height: auto;
  padding: 20px;
}
.links li,a{
  list-style: none;
  text-decoration: none;
  color: darkgrey;
  font-size: 22px;
  display: inline;
  padding: 8px;
}
#footer p{
  text-align: center;
  font-size: 18px;
  color: #fff;
  opacity: .7;
  position: relative;
  top: -10px;
}
/*media queries*/
@media (max-width:1415px){
}
@media (max-width:770px){
  .pics{
    min-width: 600px !important;
  }
}
@media (max-width:665px){
  .pics{
    min-width: 500px !important;
    margin: 0 0 0 10px !important;
  }
}
@media (max-width:680px){
  #footer .naam{
    width: 164px;
    font-size: 20px;
  }
  #footer p{
    font-size: 14px;
  }
  .projects{
    width: 100%;
  }
}
@media (max-width:512px){
  .pics{
    min-width: 100% !important;
  }
}
@media (max-width:550px){
  #header h1{
    font-size: 20px !important;
  }
}
@media (max-width:460px){
  #header{
    padding: 4px !important;
  }
  #header h1{
    font-size: 18px !important;
  }
}
@media (max-width:427px){
  .sbtn{
    margin: 4px 0 0 0 !important;
  }
}
@media (max-width:390px){
  .projects{
    padding: 2px;
  }
  .head{
    padding: 5px !important;
  }
  .ta{
    width: 270px!important;
  }
  .cmt{
    width: 180px!important;
  }
}
@media (max-width:350px){
  .pro p{
    font-size: 14px !important;
  }
}
@media (max-width:360px){
  #footer .naam{
    width: 134px;
    font-size: 16px;
  }
  #footer i{
    font-size: 16px !important;
  }
  #footer p{
    font-size: 12px !important;
  }
  .usp{
    text-align: none !important;
  }
}
@media (max-width:355px){
  #header{
    padding: 4px !important;
  }
  #header h1{
    font-size: 15px !important;
  }
}
@media (max-width:310px){
  .pro{
    flex-direction: column !important;
    align-items: flex-start;
  }
}
@media (max-width:290px){
  .ta{
    width: 100% !important;
  }
  .inp{
    width: 180px!important;
  }
  .sbtn{
    width: 180px !important;
    font-size: 17px !important;
  }
}
@media (max-width:300px){
  #footer{
    height: auto !important;
  }
}
@media (max-width:260px){
  #header h1{
    font-size: 14px !important;
  }
}
@media (max-width:220px){
  #footer{
    padding: 11px !important;
  }
  body{
    overflow-x: hidden !important;
  }
}
